._basic-card {
  margin-top: (setting-get('rhythm') / .5);
  width: 100%;

  @include breakpoint(setting-get('two grid cards')) {
    width: 48%;
  }

  @include breakpoint(setting-get('fixed container')) {
    width: 22%;
  }
}
