header {
  background-color: color('gray', 90);
  height: 75px;
}

.main-nav {

  @include vertical-center(50%, false);

  @include breakpoint($small) {
    max-width: $small;
    padding: 0 1em;
  }

  @include breakpoint($medium) {
    max-width: $medium;
    padding: 0 1em;
  }

  @include breakpoint($large) {
    max-width: $large;
  }

  margin: 0 auto;

  .punchcard-logo {
    height: 18px;
  }

  ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0px;
  }

  li {
    flex-direction: row;
  }

  a {
    color: $white;
    padding: 1em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
