$punchcard-darkgray: #323232; //rgba(50, 50, 50, 100)
$punchcard-teal: #73ecd8; //rgba(115, 236, 216, 100)
$punchcard-lightgray: #efeff2; //rgba(239, 239, 242, 100)
$punchcard-coral: #ef767a; //rgba(239, 118, 122, 100)
$punchcard-blue: #456990; //rgba(69, 105, 144, 100)

$white: #ffffff;
$black: #000000;