<form action="{{action}}" method="post" enctype="multipart/form-data" class="base--FORM" novalidate>

  {{form.html | safe}}

  <fieldset id="sunrise-sunset" class="base--FORM">
    <legend class="base--legend">Select Sunrise and Sunset</legend>
    <label for="sunrise-date" class="base--label"><input type="date" name="sunrise-date" id="sunrise-date" value="{{data['sunrise-date'].value}}" class="base--date-input"></label>
    <label for="sunrise-time" class="base--label"><input type="time" name="sunrise-time" id="sunrise-time" value="{{data['sunrise-time'].value}}" class="base--time-input"></label>
    <label for="sunset-date" class="base--label"><input type="date" name="sunset-date" id="sunset-date" value="{{data['sunset-date'].value}}" class="base--date-input"></label>
    <label for="sunset-time" class="base--label"><input type="time" name="sunset-time" id="sunset-time" value="{{data['sunset-time'].value}}" class="base--time-input"></label>
  </fieldset>

  <button type="submit" class="base--button">{{step.name}}</button>
  <button type="cancel" class="base--button">Cancel</button>
</form>
