{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1 class="base--h1">{{title}}</h1>

{% if revision %}
<h2 class="base--h2">{{config.actions.approve}} :: [TBAdded: Primary Key Contents]</h2>

  {% if values %}
    {% for v in values %}
      <h3>{{v.name}}</h3>
      {% if v.value.length %}

        {# repeatable content #}
        {% for rpt in v.value %}
          {% for val in rpt %}
            {% if loop.first %}
              <dl class="base--dl">
            {% endif %}

            <dt class="base--dt">{{val.input}}</dt>
            <dd class="base--dd">{{val.value}}</dd>

            {% if loop.last %}
              </dl>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}
        <dl class="base--dl">
          <dt class="base--dt">{{v.value.input}}</dt>
          <dd class="base--dd">{{v.value.value}}</dd>
        </dl>
      {% endif %}
    {% endfor %}
    </dl>
  {% endif %}

  {% include "content/_form-approval.html" %}

  {% if revision.workflows.entries %}
    <h2>Previous Comments</h2>
    <table>
      <tr>
        <th>person</th>
        <th>action</th>
        <th>step</th>
        <th>comment</th>
        <th>date</th>
      </tr>
    {% for e in revision.audit.entries %}
      <tr>
        <td>{{e.author}}</td>
        <td>{{e.action}}</td>
        <td>{{e.step}}</td>
        <td>{{e.comment}}</td>
        <td>{{e.created.date}}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
