<form action="{{action}}" method="post" enctype="multipart/form-data" class="content-form" novalidate>

  {{form.html | safe}}

  <fieldset id="sunrise-sunset">
    <legend>Select Sunrise and Sunset</legend>
    <label for="sunrise-date"><input type="date" name="sunrise-date" id="sunrise-date" value="{{data['sunrise-date'].value}}"></label>
    <label for="sunrise-time"><input type="time" name="sunrise-time" id="sunrise-time" value="{{data['sunrise-time'].value}}"></label>
    <label for="sunset-date"><input type="date" name="sunset-date" id="sunset-date" value="{{data['sunset-date'].value}}"></label>
    <label for="sunset-time"><input type="time" name="sunset-time" id="sunset-time" value="{{data['sunset-time'].value}}"></label>
  </fieldset>

  <button type="submit">Submit</button>
  <button type="cancel">Cancel</button>
</form>
