<form action="{{action}}" method="post" enctype="multipart/form-data">

  {{form.html | safe}}

  <fieldset id="sunrise-sunset">
    <legend>Select Sunrise and Sunset</legend>
    <label for="sunrise-date"><input type="date" name="sunrise-date" id="sunrise-date" value="{{sunriseDate.value}}"></label>
    <label for="sunrise-time"><input type="time" name="sunrise-time" id="sunrise-time" value="{{sunriseTime.value}}"></label>
    <label for="sunset-date"><input type="date" name="sunset-date" id="sunset-date" value="{{sunsetDate.value}}"></label>
    <label for="sunset-time"><input type="time" name="sunset-time" id="sunset-time" value="{{sunsetTime.value}}"></label>
  </fieldset>

  <button type="submit">Submit</button>
  <button type="cancel">Cancel</button>
</form>
