<form action="{{action}}" method="post" enctype="multipart/form-data" class="base--FORM" novalidate>

  {{form.html | safe}}
  <hr class="base--hr" />

  <fieldset class="base--fieldset">
    <legend class="base--legend">Select Sunrise and Sunset</legend>
    <div id="sunrise-sunset" class="form--field">
      <label for="sunrise-date">Sunrise date</label>
      <input type="date" name="sunrise-date" id="sunrise-date" value="{{data['sunrise-date'].value}}">
    </div>
    <div id="sunrise-sunset" class="form--field">
      <label for="sunrise-time">Sunrise time</label>
      <input type="time" name="sunrise-time" id="sunrise-time" value="{{data['sunrise-time'].value}}">
    </div>
    <div id="sunrise-sunset" class="form--field">
      <label for="sunset-date">Sunset date</label>
      <input type="date" name="sunset-date" id="sunset-date" value="{{data['sunset-date'].value}}">
    </div>
    <div id="sunrise-sunset" class="form--field">
      <label for="sunset-time">Sunset time</label>
      <input type="time" name="sunset-time" id="sunset-time" value="{{data['sunset-time'].value}}">
    </div>
  </fieldset>

  <div class="form--submit">
    <button type="submit" class="base--submit">Submit</button>
    <button type="cancel" class="base--cancel">Cancel</button>
  </div>
</form>
