{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<div class="introduction">
  <h1 class="introduction--h1">{{type.name|capitalize}}</h1>
  <a href="/{{config.base}}/{{type.id}}/{{config.actions.add}}" class="introduction--button">{{config.actions.add|capitalize}} {{config.base}}</a>
</div>

{% if content %}
<table class="base--table">
  <thead class="base--thead">
    <tr class="base--tr">
      <th class="base--th">{{config.base}}</th>
      <th class="base--th">Date</th>
      <th class="base--th" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody class="base--tbody">
  {% for c in content %}
    {% if c.value %}
    <tr class="base--tr">
      <td data-th="{{config.base}}" class="base--td">{{c.identifier}}</td>
      <td data-th="date" class="base--td">{{c.created}}</td>
      <td data-th="Actions" class="base--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}" class="base--link">{{config.actions.revisions|capitalize}}</a></td>
      <td data-th="" class="base--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}/{{c.revision}}/{{config.actions.edit}}" class="base--link">{{config.actions.edit|capitalize}}</a></td>
      <td data-th="" class="base--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}/{{c.revision}}/{{config.actions.approve}}" class="base--link">{{config.actions.approve|capitalize}}</a></td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
