{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1 class="base--h1">{{content.type.name}}</h1>
<p class="base--p"><a href="/{{config.base}}/{{type.id}}/{{config.actions.add}}" class="base--a">{{config.base}} | {{config.actions.add}}</a></p>
<h2 class="base--h2">Content</h2>

{% if content %}

  <table class="table--style">
    <tr class="table--tr">
      <th class="table--th">{{config.base}}</th>
      <th class="table--th">{{config.actions.revisions}}</th>
      <th class="table--th">{{config.actions.edit}}</th>
      <th class="table--th">{{config.actions.approve}}</th>
      <th class="table--th">date</th>
    </tr>
  {% for c in content %}
    {% if c.value %}
      <tr class="table--tr">
        <td class="table--td">{{c.value[type.primary]}}</td>
        <td class="table--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}" class="table--a">{{config.actions.revisions}}</a></td>
        <td class="table--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}/{{c.revision}}/{{config.actions.edit}}" class="table--a">{{config.actions.edit}}</a></td>
        <td class="table--td"><a href="/{{config.base}}/{{type.id}}/{{c.id}}/{{c.revision}}/{{config.actions.approve}}" class="table--a">{{config.actions.approve}}</a></td>
        <td class="table--td">{{c.created}}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
