{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1 class="base--h1">{{title}}</h1>

{% if content %}

<table class="base--table">
  <thead class="base--thead">
    <tr class="base--tr">
      <th class="base--th">Revision</th>
      <th class="base--th">{{config.base}}</th>
      <th class="base--th">Date</th>
      <th class="base--th">Actions</th>
    </tr>
  </thead>
  <tbody class="base--tbody">
{% for c in content %}
  {% if c.value %}
    <tr class="base--tr">
      <td class="base--td" data-th="Revision">{{c.revision}}</td>
      <td class="base--td" data-th="{{config.base}}">{{c.value[type.primary]}}</td>
      <td class="base--td" data-th="Date">{{c.created}}</td>
      <td class="base--td" data-th="Actions"><a href="/{{config.base}}/{{type.id}}/{{c.id}}/{{c.type}}/{{c.revision}}/{{config.actions.edit}}" class="base--link">{{config.actions.edit}}</a></td>
    </tr>
  {% endif %}
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
