
._wrapper {
  @include wrapper;
}

.base {
  &--a {
    border-bottom: 2px solid setting-get('primary color');
    color: setting-get('primary color');
    text-decoration: none;

    &:hover {
      border-color: setting-get('secondary color');
      color: setting-get('secondary color');
      transition: setting-get('fade');
    }
  }

  // Major Third Type Scale

  &--h1 {
    font-size: 2.441em;
    font-weight: setting-get('normal font weight');
  }

  &--h2 {
    font-size: 1.953em;
    font-weight: setting-get('normal font weight');
  }

  &--h3 {
    font-size: 1.563em;
    font-weight: setting-get('normal font weight');
  }

  &--h4 {
    font-size: 1.25em;
    font-weight: setting-get('normal font weight');
  }

  &--h5 {
    font-size: 1em;
    font-weight: setting-get('normal font weight');
  }

  &--h6 {
    font-size: .8em;
    font-weight: setting-get('normal font weight');
  }

  &--p {
    font-weight: setting-get('normal font weight');
    @include breakpoint(setting-get('max paragraph length')) {
      max-width: 40em;
    }
  }

  &--blockquote {
    border-left: .25em solid setting-get('primary accent color');
    color: color('gray', 80);
    font-style: italic;
    margin-left: 2em;
    margin-right: 1em;
    padding: 0 1.5em;
  }

  &--dt {
    color: setting-get('secondary color');
    font-weight: setting-get('bold font weight');
  }

  &--dd {
    @include breakpoint(setting-get('max paragraph length')) {
      max-width: 40em;
    }
  }

  &--li {
    margin-top: 0;

    &::before {
      content: '•';
      margin-left: -1em;
      padding-right: .8em;
      text-align: right;
    }

    @include breakpoint(setting-get('max paragraph length')) {
      max-width: 40em;
    }
  }

  &--ul {
    display: table;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &--ol {
    .base--li {
      padding-left: .2em;

      &::before {
        display: none;
      }
    }
  }

  &--hr {
    border: 0 none;
    border-top: 2px solid color('grey', 20);
    margin: setting-get('rhythm') / .25;
    margin-left: 0;
    margin-right: 0;
    width: 15%;
  }

  &--table {
    width: 100%;
  }

  &--caption {
    color: color('gray', 50);
    font-size: .8em;
    padding: setting-get('rhythm') / 2;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
  }

  &--thead {

    color: setting-get('white');
  }

  &--tr {
    &:nth-of-type(even) {
      background-color: color('neutral-white', 30);

      & .base--td::before {
        background-color: color('teal', 60);
        // responsive table zebra striping
      }
    }
  }

  &--th {
    display: none;
    font-size: .8em;
    font-weight: setting-get('normal font weight');
    padding: setting-get('rhythm');
    text-align: left;
    @media (min-width: 600px) {
      background-color: setting-get('primary color');
      display: table-cell;
      font-size: 1em;
    }
  }

  &--td {
    display: flex;
    font-size: .8em;
    margin: 0;
    padding: setting-get('rhythm') / 2;
    @media (min-width: 600px) {
      display: table-cell;
      font-size: 1em;
      padding: setting-get('rhythm');
    }

    &::before {
      @include hyphens(auto);
      background-color: setting-get('primary color');
      color: setting-get('white');
      content: attr(data-th)': ';
      display: inline-block;
      margin: -.5rem .5em -.5rem -.5rem;
      min-width: 6.5em;
      padding: setting-get('rhythm') / 2;
      text-align: right;
      width: 6.5em;
      word-break: break-all;

      @media (min-width: 600px) {
        display: none;
      }
    }
  }

  &--kbd {
    background-color: color('neutral-white', 40);
    border: 1px solid color('gray', 10);
    border-radius: 3px;
    font-size: .8em;
    padding: .2em .5em;
  }

  &--code {
    background-color: setting-get('black');
    color: setting-get('secondary accent color');
    font-size: .8em;
    padding: .4em .5em;
  }

  &--samp {
    color: setting-get('secondary color');
  }

  &--pre {
    direction: ltr;
    display: block;
    hyphens: none;
    overflow-y: overlay;
    tab-size: 2;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
  }

  &--em {
    font-weight: setting-get('bold font weight');
  }

  &--b {
    font-weight: setting-get('bold font weight');
  }

  &--i {
    font-style: italic;
  }

  &--u {
    border-bottom: 2px solid setting-get('text color');
    text-decoration: none;
  }

  &--strong {
    font-weight: setting-get('bold font weight');
  }

  &--sup {
    font-size: .8em;
    position: relative;
    top: -.4em;
    vertical-align: baseline;
  }

  &--sub {
    font-size: .8em;
    position: relative;
    top: .4em;
    vertical-align: baseline;
  }

  &--small {
    color: color('grey', 50);
    font-size: .8em;
  }

  &--abbr {
    border-bottom: 1px dotted setting-get('text color');
    text-decoration: none;
  }

  &--q {
    quotes: '“' '”' '‘' '’';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &--cite {
    &::before {
      content: '- ';
    }
  }

  &--mark {
    background-color: setting-get('primary support color');
  }

  &--dfn {
    font-style: italic;
  }

  &--var {
    font-weight: setting-get('bold font weight');
  }

  &--fieldset {
    margin-top: setting-get('rhythm') / .5;
  }

  &--button,
  &--submit {
    @include button(setting-get('primary color'), setting-get('primary color'), setting-get('secondary color'), setting-get('secondary color'));
  }

  &--cancel,
  &--reset {
    @include button(color('black'), color('black'), setting-get('secondary color'), setting-get('secondary color'));
  }
}
