@import 'content/variables';
@import 'content/mixins';
@import 'content/extends';

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $white;
  font-family: $font-stack;
  margin: 0;
}

.wrapper {

  @include breakpoint($small) {
    max-width: 600px;
    padding: 0 1em;
  }

  @include breakpoint($medium) {
    max-width: 900px;
    padding: 0 1em;
  }

  @include breakpoint($large) {
    max-width: 1200px;
    padding: 0 1em;
  }

  margin: 0 auto;
  margin-bottom: -50px;
  margin-top: 50px;
  min-height: 100%;

  &:after {
    content: '';
    display: block;
    height: 75px;
  }
}
