{% macro table(data) %}
<table class="base--table">
  {% if data.name %}
  <caption class="base--caption">{{data.name}}</caption>
  {% endif %}
  <thead class="base--thead">
    <tr class="base--tr">
      {% for header in data.headers %}
      <th class="base--th">{{header}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="base--tbody">
    {% for rows in data.body %}
    <tr class="base--tr">
      {% for header in data.headers %}
      {% set row = rows[loop.index0] %}
      <td data-th="{{header}}" class="base--td">
        {% if row.actions %}
        {% for action in row.actions %}
        <a href="{{action.url}}" class="base--link">{{action.title}}</a>{% endfor %}
        {% else %}{{row}}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
