{% macro table(data) %}
<table class="base--table" itemscope itemtype="https://schema.org/table">
  <caption class="base--caption">{{data.name}}</caption>
  <thead class="base--thead">
    <tr class="base--tr">
      {% for header in data.headers %}
      <th class="base--th">{{header}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="base--tbody">
    {% for row in data.rows %}
    <tr class="base--tr">
      {% for header in data.headers %}
      {% set r = row[loop.index0] %}
      <td data-th="{{header}}" class="base--td">{% if r.url and r.title %}<a href="{{row.url}}" class="base--link">{{r.title}}</a>{% else %}{{r}}{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
