{% macro tabularData(myLatest) %}
<article class="base--article" itemscope itemtype="http://schema.org/Table">
  <header class="base--header">
    <h1 class="base--h1" itemprop="name">{{myLatest.title}}</h1>
  </header>
  <table class="base--table">
    {% if myLatest.caption %}
    <caption class="base--caption" itemprop="caption" itemscope itemtype="https://schema.org/Property">{{myLatest.caption}}</caption>
    {% endif %}
    <thead class="base--thead">
      <tr class="base--tr">
        {% for tableHeader in myLatest.tableHeaders %}
        <th class="base--th">{{tableHeader}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="base--tbody">
        {% for table in myLatest.table %}
        <tr class="base--tr">
          <td data-th="{{table.headers[0]}}" class="base--td" itemprop="name" itemscope itemtype="https://schema.org/Table">{{table.identifier}}</td>
          <td data-th="{{table.headers[1]}}" class="base--td" itemprop="dateModified" itemscope itemtype="https://schema.org/Table">{{table.date}}</td>
          <td data-th="{{table.headers[2]}}" class="base--td" itemprop="potentialAction" itemscope itemtype="https://schema.org/Table"><a class="base--link" href="{{table.actionURL}}" itemprop="url">{{table.action}}</a></td>
          <td data-th="{{table.headers[3]}}" class="base--td" itemprop="additionalType" itemscope itemtype="https://schema.org/Table">{{table.status}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</article>
{% endmacro %}
