{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  <h1>{{title}}</h1>
{% endblock %}

{% block main %}
<form action="/login" method="post" novalidate>
  {{message}}
  <div><label for="email">Email:<input type="text" id="email" name="email"/></label></div>
  <div><label for="password">Password:<input type="password" id="password" name="password"/></label></div>
  <button type="submit">Submit</button>
</form>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
