{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {% include "_header-not-auth.html" %}
{% endblock %}

{% block main %}
<div class="_login">
  <h1 class="_login--h1">{{title}}</h1>
  <form action="/login" method="post" novalidate class="form">
    <div class="form--field-container">
      {{message}}
      <div class="form--field">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"/>
      </div>
      <div class="form--field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
      </div>
      <div class="form--actions">
        <button type="submit" class="form--submit">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
