{% extends "_donut.html" %}

{% block pageTitle %}{{pageTitle}}{% endblock %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block main %}
<section class="base--section">
    <header class="base--header">
      <h1 class="base--h1">Text</h1>
    </header>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Headings</h1>
      </header>
      <div class="base--div">
        <h1 class="base--h1">Heading 1</h1>
        <h2 class="base--h2">Heading 2</h2>
        <h3 class="base--h3">Heading 3</h3>
        <h4 class="base--h4">Heading 4</h4>
        <h5 class="base--h5">Heading 5</h5>
        <h6 class="base--h6">Heading 6</h6>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Paragraphs</h1>
      </header>
      <div class="base--div">
        <p class="base--p">A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Blockquotes</h1>
      </header>
      <div class="base--div">
        <blockquote class="base--blockquote">
          <p class="base--p">A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.</p>
          <p class="base--p">It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.</p>
          <cite class="base--cite"><a href="#!" class="base--a">Said no one, ever.</a></cite>
        </blockquote>
      </div>
    </article>
    <article class="base--div">
      <header class="base--header">
        <h1 class="base--h1">Lists</h1>
      </header>
      <div class="base--div">
        <h3 class="base--h3">Definition list</h3>
        <dl class="base--dl">
          <dt class="base--dt">Definition List Title</dt>
          <dd class="base--dd">This is a definition list division.</dd>
        </dl>
        <h3 class="base--h3">Ordered List</h3>
        <ol class="base--ol">
          <li class="base--li">List Item 1</li>
          <li class="base--li">List Item 2</li>
          <li class="base--li">List Item 3</li>
        </ol>
        <h3 class="base--h3">Unordered List</h3>
        <ul class="base--ul">
          <li class="base--li">List Item 1</li>
          <li class="base--li">List Item 2</li>
          <li class="base--li">List Item 3</li>
        </ul>
      </div>
    </article>
    <article class="base--article">
      <header class="base--headr">
        <h1 class="base--h1">Horizontal rules</h1>
      </header>
      <div class="base--div">
        <hr class="base--hr">
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Tabular data</h1>
      </header>
      <table class="base--table">
        <caption class="base--caption">Table Caption</caption>
        <thead class="base--thead">
          <tr class="base--tr">
            <th class="base--th">Table Heading 1</th>
            <th class="base--th">Table Heading 2</th>
            <th class="base--th">Table Heading 3</th>
            <th class="base--th">Table Heading 4</th>
            <th class="base--th">Table Heading 5</th>
          </tr>
        </thead>
        <tfoot class="base--tfoot">
          <tr class="base--tr">
            <th class="base--th">Table Footer 1</th>
            <th class="base--th">Table Footer 2</th>
            <th class="base--th">Table Footer 3</th>
            <th class="base--th">Table Footer 4</th>
            <th class="base--th">Table Footer 5</th>
          </tr>
        </tfoot>
        <tbody class="base--tbody">
          <tr class="base--tr">
            <td class="base--td">Table Cell 1</td>
            <td class="base--td">Table Cell 2</td>
            <td class="base--td">Table Cell 3</td>
            <td class="base--td">Table Cell 4</td>
            <td class="base--td">Table Cell 5</td>
          </tr>
          <tr class="base--tr">
            <td class="base--td">Table Cell 1</td>
            <td class="base--td">Table Cell 2</td>
            <td class="base--td">Table Cell 3</td>
            <td class="base--td">Table Cell 4</td>
            <td class="base--td">Table Cell 5</td>
          </tr>
          <tr class="base--tr">
            <td class="base--td">Table Cell 1</td>
            <td class="base--td">Table Cell 2</td>
            <td class="base--td">Table Cell 3</td>
            <td class="base--td">Table Cell 4</td>
            <td class="base--td">Table Cell 5</td>
          </tr>
          <tr class="base--tr">
            <td class="base--td">Table Cell 1</td>
            <td class="base--td">Table Cell 2</td>
            <td class="base--td">Table Cell 3</td>
            <td class="base--td">Table Cell 4</td>
            <td class="base--td">Table Cell 5</td>
          </tr>
        </tbody>
      </table>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Code</h1>
      </header>
      <div class="base--div">
        <p class="base--p"><strong class="base--strong">Keyboard input:</strong> <kbd class="base--kbd">Cmd</kbd></p>
        <p class="base--p"><strong class="base--strong">Inline code:</strong> <code class="base--code">&lt;div&gt;code&lt;/div&gt;</code></p>
        <p class="base--p"><strong class="base--strong">Sample output:</strong> <samp class="base--samp">This is sample output from a computer program.</samp></p>
        <h2 class="base--h2">Pre-formatted text</h2>
        <pre class="base--pre">P R E F O R M A T T E D T E X T
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ </pre>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h1 class="base--h1">Inline elements</h1>
      </header>
      <div class="base--div">
        <p class="base--p"><a href="#!" class="base--a">This is a text link</a>.</p>
        <p class="base--p"><strong class="base--strong">Strong is used to indicate strong importance.</strong></p>
        <p class="base--p"><em class="base--em">This text has added emphasis.</em></p>
        <p class="base--p">The <b class="base--b">b element</b> is stylistically different text from normal text, without any special importance.</p>
        <p class="base--p">The <i class="base--i">i element</i> is text that is offset from the normal text.</p>
        <p class="base--p">The <u class="base--u">u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>
        <p class="base--p"><del class="base--del">This text is deleted</del> and <ins class="base--ins">This text is inserted</ins>.</p>
        <p class="base--p"><s class="base--s">This text has a strikethrough</s>.</p>
        <p class="base--p">Superscript<sup class="base--sup">®</sup>.</p>
        <p class="base--p">Subscript for things like H<sub class="base--sub">2</sub>O.</p>
        <p class="base--p"><small class="base--small">This small text is small for for fine print, etc.</small></p>
        <p class="base--p">Abbreviation: <abbr title="HyperText Markup Language" class="base--abbr">HTML</abbr></p>
        <p class="base--p"><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q" class="base--q">This text is a short inline quotation.</q></p>
        <p class="base--p"><cite class="base--cite">This is a citation.</cite></p>
        <p class="base--p">The <dfn class="base--dfn">dfn element</dfn> indicates a definition.</p>
        <p class="base--p">The <mark class="base--mark">mark element</mark> indicates a highlight.</p>
        <p class="base--p">The <var class="base--var">variable element</var>, such as <var>x</var> = <var>y</var>.</p>
        <p class="base--p">The time element: <time datetime="2013-04-06T12:32+00:00" class="base--time">2 weeks ago</time></p>
      </div>
    </article>
  </section>

  <section class="base--section">
    <header class="base--header">
      <h1 class="base--h1">Embedded content</h1>
    </header>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h1">Images</h2>
      </header>
      <div class="base--div">
        <h3 class="base--h3">No <code class="base--code">&lt;figure&gt;</code> element</h3>
        <p class="base--p"><img src="http://placekitten.com/480/480" class="base--img" alt="Image alt text"></p>
        <h3 class="base--h3">Wrapped in a <code class="base--code">&lt;figure&gt;</code> element, no <code class="base--code">&lt;figcaption&gt;</code></h3>
        <figure class="base--figure"><img src="http://placekitten.com/420/420" class="base--img" alt="Image alt text"></figure>
        <h3 class="base--h3">Wrapped in a <code class="base--code">&lt;figure&gt;</code> element, with a <code class="base--code">&lt;figcaption&gt;</code></h3>
        <figure class="base--figure">
          <img src="http://placekitten.com/420/420" class="base--img" alt="Image alt text">
          <figcaption class="base--figcaption">Here is a caption for this image.</figcaption>
        </figure>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Audio</h2>
      </header>
      <div class="base--div">
        <audio controls="" class="base--audio">audio</audio>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Video</h2>
      </header>
      <div class="base--div">
        <video controls="" class="base--video">video</video>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Canvas</h2>
      </header>
      <div class="base--div">
        <canvas class="base--canvas">canvas</canvas>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Meter</h2>
      </header>
      <div class="base--div">
        <meter value="2" min="0" max="10" class="base--meter">2 out of 10</meter>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Progress</h2>
      </header>
      <div class="base--div">
        <progress class="base--progress">progress</progress>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">Inline SVG</h2>
      </header>
      <div class="base--div">
        <svg width="100px" height="100px" class="base--svg">
          <circle cx="100" cy="100" r="100" fill="#1fa3ec" class="base--circle"></circle>
        </svg>
      </div>
    </article>
    <article class="base--article">
      <header class="base--header">
        <h2 class="base--h2">IFrame</h2>
      </header>
      <div class="base--div">
        <iframe src="index.html" height="300" class="base--iframe"></iframe>
      </div>
    </article>
  </section>
  <section class="base--section">
    <header class="base--header">
      <h1 class="base--h2">Form elements</h1>
    </header>
    <form class="base--form">
      <fieldset class="base--fieldset">
        <legend class="base--legend">Input fields</legend>
        <p class="base--p">
          <label for="input__text" class="base--label">Text Input</label>
          <input id="input__text" type="text" placeholder="Text Input" class="base--input-text">
        </p>
        <p class="base--p">
          <label for="input__password" class="base--label">Password</label>
          <input id="input__password" type="password" placeholder="Type your Password" class="base--input-password">
        </p>
        <p class="base--p">
          <label for="input__webaddress" class="base--label">Web Address</label>
          <input id="input__webaddress" type="url" placeholder="http://yoursite.com" class="base--input-url">
        </p>
        <p class="base--p">
          <label for="input__emailaddress" class="base--label">Email Address</label>
          <input id="input__emailaddress" type="email" placeholder="name@email.com" class="base--input-email">
        </p>
        <p class="base--p">
          <label for="input__phone" class="base--label">Phone Number</label>
          <input id="input__phone" type="tel" placeholder="(999) 999-9999" class="base--text-input-tel">
        </p>
        <p class="base--p">
          <label for="input__search" class="base--label">Search</label>
          <input id="input__search" type="search" placeholder="Enter Search Term" class="base--input-search">
        </p>
        <p class="base--p">
          <label for="input__text2" class="base--label">Number Input</label>
          <input id="input__text2" type="number" placeholder="Enter a Number" class="base--text-input-number">
        </p>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">Select menus</legend>
        <p class="base--p">
          <label for="select" class="base--label">Select</label>
          <select id="select" class="base--select">
            <optgroup label="Option Group" class="base--optgroup">
              <option class="base--input-option">Option One</option>
              <option class="base--input-option">Option Two</option>
              <option class="base--input-option">Option Three</option>
            </optgroup>
          </select>
        </p>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">Checkboxes</legend>
        <ul class="base--ul">
          <li class="base--li">
            <label for="checkbox1" class="base--label"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked" class="base--input-checkbox"> Choice A</label>
          </li>
          <li>
            <label for="checkbox2" class="base--label"><input id="checkbox2" name="checkbox" type="checkbox" class="base--input-checkbox"> Choice B</label>
          </li>
          <li>
            <label for="checkbox3" class="base--label"><input id="checkbox3" name="checkbox" type="checkbox" class="base--input-checkbox"> Choice C</label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">Radio buttons</legend>
        <ul class="base--ul">
          <li class="base--li">
            <label for="radio1" class="base--label"><input id="radio1" name="radio" type="radio" class="radio" checked="checked" class="base--input-radio"> Option 1</label>
          </li>
          <li class="base--li">
            <label for="radio2" class="base--label"><input id="radio2" name="radio" type="radio" class="radio" class="base--input-radio"> Option 2</label>
          </li>
          <li class="base--li">
            <label for="radio3" class="base--label"><input id="radio3" name="radio" type="radio" class="radio" class="base--input-radio"> Option 3</label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">Textareas</legend>
        <p class="base--p">
          <label for="textarea" class="base--label">Textarea</label>
          <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here" class="base--input-textarea"></textarea>
        </p>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">HTML5 inputs</legend>
        <p class="base--p">
          <label for="ic" class="base--label">Color input</label>
          <input type="color" id="ic" value="#000000" class="base--input-color">
        </p>
        <p class="base--p">
          <label for="in" class="base--label">Number input</label>
          <input type="number" id="in" min="0" max="10" value="5" class="base--input-number">
        </p>
        <p class="base--p">
          <label for="ir" class="base--label">Range input</label>
          <input type="range" id="ir" value="10" class="base--input-range">
        </p>
        <p class="base--p">
          <label for="idd" class="base--label">Date input</label>
          <input type="date" id="idd" value="1970-01-01" class="base--input-date">
        </p>
        <p class="base--p">
          <label for="idm" class="base--label">Month input</label>
          <input type="month" id="idm" value="1970-01" class="base--input-month">
        </p>
        <p class="base--p">
          <label for="idw" class="base--label">Week input</label>
          <input type="week" id="idw" value="1970-W01" class="base--input-week">
        </p>
        <p class="base--p">
          <label for="idt" class="base--label">Datetime input</label>
          <input type="datetime" id="idt" value="1970-01-01T00:00:00Z" class="base--input-datetime">
        </p>
        <p class="base--p">
          <label for="idtl" class="base--label">Datetime-local input</label>
          <input type="datetime-local" id="idtl" value="1970-01-01T00:00" class="base--input-datetime-local">
        </p>
      </fieldset>
      <fieldset class="base--fieldset">
        <legend class="base--legend">Action buttons</legend>
        <p class="base--p">
          <input type="submit" value="<input type=submit>" class="base--button-submit">
          <input type="button" value="<input type=button>" class="base--button">
          <input type="reset" value="<input type=reset>" class="base--button-reset">
        </p>
        <p class="base--p">
          <button type="submit" class="base--button-submit">&lt;button type=submit&gt;</button>
          <button type="button" class="base--button">&lt;button type=button&gt;</button>
          <button type="reset" class="base--button-reset">&lt;button type=reset&gt;</button>
        </p>
      </fieldset>
    </form>
  </section>
</main>
{% endblock %}