.base--a {
  color: color('teal', 60);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.base--ul {
  list-style-type: none;
  padding: 1em;
}

.base--dl {
  list-style-type: none;
  padding: 1em;
}

.base--dt {
  font-weight: bold;
}

.base--dd {
  padding-left: .5em;
}
