.base--a {
  color: color('teal', 60);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.base--ul {
  list-style-type: none;
  padding: 1em;
}

.base--main {
}

.base--section {
}

.base--header {
}

.base--h1 {
}

.base--article {
}

.base--div {
}

.base--h2 {
}

.base--h3 {
}

.base--h4 {
}

.base--h5 {
}

.base--h6 {
}

.base--p {
}

.base--blockquote {
}

.base--cite {
}

.base--a {
}

.base--dl {
}

.base--dt {
}

.base--dd {
}

.base--ol {
}

.base--li {
}

.base--ul {
}

.base--headr {
}

.base--hr {
}

.base--table {
}

.base--caption {
}

.base--thead {
}

.base--tr {
}

.base--th {
}

.base--tfoot {
}

.base--tbody {
}

.base--td {
}

.base--strong {
}

.base--kbd {
}

.base--code {
}

.base--samp {
}

.base--pre {
}

.base--em {
}

.base--b {
}

.base--i {
}

.base--u {
}

.base--del {
}

.base--ins {
}

.base--s {
}

.base--sup {
}

.base--sub {
}

.base--small {
}

.base--abbr {
}

.base--q {
}

.base--dfn {
}

.base--mark {
}

.base--var {
}

.base--time {
}

.base--img {
}

.base--figure {
}

.base--figcaption {
}

.base--audio {
}

.base--video {
}

.base--canvas {
}

.base--meter {
}

.base--progress {
}

.base--svg {
}

.base--circle {
}

.base--iframe {
}

.base--form {
}

.base--fieldset {
}

.base--legend {
}

.base--label {
}

.base--optgroup {
}

.base--input-option {
}

.base--button-submit {
}

.base--button {
}

.base--button-reset {
}