{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
  <div class="introduction">
    <h1 class="introduction--h1">{{config.actions.add|capitalize}}</h1>
    <p class="introduction--p">{{structure.description}}</p>
  </div>
  {% include "applications/_form.html" %}
{% endblock %}

{% block footer %}
  {{ super() }}

  <script>
    {{form.validation | safe}}
    {{form.scripts | safe}}
  </script>
{% endblock %}
