{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<div class="introduction">
  <h1 class="introduction--h1">{{title}}</h1>
{% if message %}
  <p class="introduction--alert" role="alert" for="delete">{{ message }}</p>
{% endif %}
</div>

<form action="{{action}}" method="post" enctype="multipart/form-data" novalidate class="form">
  <p class="form--p">Delete {{email}}?</p>
  <p class="form--p">This cannot be undone!</p>
  <div class="form--actions">
    <button id="delete" class="base--button" type="submit" {% if current %}disabled{% endif %}>Delete</button>
  </div>
</form>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
