{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1>{{title}}</h1>
{% if message %}
<p class="form--alert" role="alert" for="delete">{{ message }}</p>
{% endif %}

<form action="{{action}}" method="post" enctype="multipart/form-data" novalidate>

  <p>Delete {{email}}?</p>
  <p>This cannot be undone!</p>

  <button id="delete" type="submit" {% if current %}disabled{% endif %}>Delete</button>
</form>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
