{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1 class="base--h1">{{title}}</h1>
{% if message %}
<p class="base--p form--alert" role="alert" for="delete">{{ message }}</p>
{% endif %}

<form action="{{action}}" method="post" enctype="multipart/form-data" novalidate class="base--form">
  <p class="base--p">Delete {{email}}?</p>
  <p class="base--p">This cannot be undone!</p>
  <div class="form--submit">
    <button id="delete" class="base--button" type="submit" {% if current %}disabled{% endif %}>Delete</button>
  </div>
</form>

{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
