{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<div class="introduction">
  <h1 class="introduction--h1">{{title|capitalize}}</h1>
  <a href="{{config.base}}/{{config.actions.add}}" class="introduction--button">{{config.actions.add|capitalize}} {{config.base}}</a>
</div>
<table class="base--table">
  <thead class="base--thead">
    <tr class="base--tr">
      <th class="base--th">Email</th>
      <th class="base--th">Role</th>
      <th class="base--th">Date</th>
      <th class="base--th" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody class="base--tbody">
  {% if users %}
  {% for user in users %}
    {% if user.email %}
      <tr class="base--tr">
        <td data-th="Email" class="base--td">{{user.email}}</td>
        <td data-th="Role" class="base--td">{{user.role}}</td>
        <td data-th="Date" class="base--td">{{user.created}}</td>
        <td data-th="Actions" class="base--td"><a href="{{config.base}}/{{user.id}}/{{config.actions.edit}}" class="base--link">{{config.actions.edit|capitalize}}</a></td>
        <td data-th="" class="base--td"><a href="{{config.base}}/{{user.id}}/{{config.actions.delete}}" class="base--link">{{config.actions.delete|capitalize}}</a></td>
      </tr>
    {% endif %}
  {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
