{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
  <h1>{{title}}</h1>
{% endblock %}

{% block main %}
<p><a href="{{config.base}}/{{config.actions.add}}">{{config.base}} | {{config.actions.add}}</a></p>
<h2>Content</h2>

{% if users %}
  <table>
    <tr><th>email</th><th>role</th><th>{{config.actions.edit}}</th><th>{{config.actions.delete}}</th><th>date</th></tr>
  {% for u in users %}
    {% if u.email %}
      <tr>
        <td>{{u.email}}</td>
        <td>{{u.role}}</td>
        <td><a href="{{config.base}}/{{u.id}}/{{config.actions.edit}}">{{config.actions.edit}}</a></td>
        <td>
        {% if u.id != user.id %}
        <a href="{{config.base}}/{{u.id}}/{{config.actions.delete}}">{{config.actions.delete}}</a>
        {% endif %}
        </td>
        <td>{{u.created}}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
