{% extends "_donut.html" %}

{% block pageHead %}
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block main %}
<h1>{{title}}</h1>
<p><a href="{{config.base}}/{{config.actions.add}}" class="base--a">{{config.base}} | {{config.actions.add}}</a></p>
<h2>Content</h2>

  <table class="base--STYLED">
    <tr>
      <th>email</th>
      <th>role</th>
      <th>edit</th>
      <th>delete</th>
      <th>date</th>
    </tr>
    {% if users %}
    {% for user in users %}
      {% if user.email %}
        <tr>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td><a href="{{config.base}}/{{config.actions.edit}}/{{user.id}}" class="base--a">{{config.actions.edit}}</a></td>
          <td><a href="{{config.base}}/{{config.actions.delete}}/{{user.id}}" class="base--a">{{config.actions.delete}}</a></td>
          <td>{{user.created}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    {% endif %}
  </table>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
