.basic-card {
  border: setting-get('input border width') solid setting-get('secondary color');

  &--name {
    @include h2;
    color: setting-get('secondary link color');
    margin-top: setting-get('rhythm');
  }

  &--actions {
    margin-top: setting-get('rhythm') / .5;
    width: 100%;
    @include breakpoint(setting-get('responsive form')) {
      flex-grow: 1;
      order: 2;
    }
  }

  &--button {
    @include base--button;
  }
}
