.card {
  border: setting-get('input border width') solid setting-get('secondary color');
  display: flex;
  flex-direction: column;
  margin-top: (setting-get('rhythm') / .5);
  padding: setting-get('rhythm') / .75;

  &--link {
    @include link(setting-get('active link color'), setting-get('active link color'), setting-get('secondary link color'), setting-get('secondary link color'));
  }

  &--name {
    @include h2;
    color: setting-get('secondary link color');
    margin-top: setting-get('rhythm');
  }

  &--actions {
    margin-top: setting-get('rhythm') / .5;
    width: 100%;
    @include breakpoint(setting-get('responsive form')) {
      flex-grow: 1;
      order: 2;
    }
  }

  &--button {
    @include button(setting-get('primary accent color'), setting-get('primary accent color'), setting-get('primary color'), setting-get('primary accent color'), setting-get('primary color'), setting-get('primary color'), setting-get('primary color'));
  }
}
