
// Content Forms
.base--FORM {
  padding: 1em 0;

  .form--field {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: .5em 0;
  }

  .form--alert {
    color: color('red');
    font-size: .8em;
  }

  .form--description {
    font-size: .8em;
    padding: 5px 0;
  }

  fieldset {
    margin: 1em 0;
  }
}
