.nav {
  margin-top: setting-get('rhythm') / .5;
  @include breakpoint(setting-get('responsive form')) {
    margin: 0;
  }

  &--link {
    color: setting-get('white');
    font-size: ms(-1);
    font-weight: setting-get('bold font weight');
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: setting-get('primary accent color');
      transition: setting-get('fade');
    }
  }

  &--list {
    display: inline-flex;
    list-style-type: none;
  }

  &--logo {
    display: block;
    height: 14px;
  }

  &--home {
    display: block;
  }

  &--item {
    flex-direction: row;
    margin: 0 1.5em 0 0;

    &:last-of-type {
      margin: 0;
    }
  }
}

.breadcrumb {

  &--list {
    background-color: transparent;
    display: flex;
    margin-top: 0;
    transition: .15s transform ease-out;
    width: 100%;
  }

  &--item {
    flex-direction: row;
    margin: 1em .75em 0;
    padding: 0;

    &[data-state='active'] {

      .breadcrumb--link {
        border-bottom: 0;
        color: setting-get('text color');
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &--item + &--item {

    &::before {
      color: color('grey', 20);
      content: '/';
      display: inline-block;
      left: -.55em;
      position: relative;
    }
  }

  &--link {
    @include link(setting-get('active link color'), setting-get('active link color'), setting-get('secondary link color'), setting-get('secondary link color'));
  }
}
